body{

font-family:'Poppins', sans-serif;
margin:0;
background:#0f172a;
color:white;

}

header{

text-align:center;
padding:40px;

}

nav a{

margin:10px;
color:#38bdf8;
text-decoration:none;
font-weight:600;

}

section{

padding:60px;
max-width:1100px;
margin:auto;

}

h2{

margin-bottom:20px;

}

.boton{

background:#38bdf8;
padding:12px 25px;
border-radius:6px;
color:black;
text-decoration:none;
font-weight:600;

}

.skills{
text-align:center;
padding:80px 20px;
color:white;
}

.skills-grid{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.skill img{
width:60px;
transition:0.3s;
}

.skill img:hover{
transform:scale(1.2);
}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;

}

.card{

background:#1e293b;
border-radius:10px;
padding:20px;
transition:transform 0.3s, box-shadow 0.3s;

}

.card:hover{

transform:translateY(-10px);
box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

.card img{

width:100%;
border-radius:8px;
margin-bottom:15px;

}

.card a{

color:#38bdf8;
font-weight:bold;
text-decoration:none;

}

footer{

text-align:center;
padding:30px;
background:#020617;

}

.fade{

opacity:0;
transform:translateY(30px);
transition:all 1s ease;

}

.show{

opacity:1;
transform:translateY(0);

}

#particles-js{
position: fixed;
width: 100%;
height: 100%;
top:0;
left:0;
z-index:-1;
background:#0f172a;
}

.timeline{
padding:80px;
color:white;
max-width:700px;
margin:auto;
}

.timeline-item{
border-left:3px solid #38bdf8;
padding-left:20px;
margin-bottom:30px;
}
